<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">{{'appName' | translate}}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let category of categories" (click)="selectCategory(category.key)">
          {{category.value | translate}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div *ngFor="let article of articles">
        <app-article [article]="article"></app-article>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

